name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  asdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install asdf dependencies
        uses: asdf-vm/actions/install@v1

      - name: Run plugin add
        run: asdf plugin add asdf-faas-cli https://github.com/zekker6/asdf-faas-cli.git

      - name: Run plugin test
        run: asdf plugin test asdf-faas-cli .

      - name: Run install
        run: asdf install asdf-faas-cli latest
